/***************************
* "Asahi-Ann" by AsahiNyan *
***************************/

:root {
    --default-background: #181818;
    --alt-background: #2c2c2c;
    --last-split-bg: #9e9e9e;
    --default-text: #ffffff;
    --attempt-text: #878787;
    --time-text: #e7e7e7;
    --behind-bg: #da4453;
    --sob-bg: #f6a400;
    --sob-fg: #ffecce;
    --ahead-bg: #60d12b;
    --done-bg: #1a6dea;
    --wr-fg: #d4ecff;
    --losing-t: #ff2b2b;
    --losing-bg: #ff2b2b;
    --ahead-fg: #91c949;
    --behind-fg: #ff5aa2;
    --losing-fg: #ff2e2e;
    --sob-fg: #ffa333;
}

.window,
.window.main-window {
    font-family: "Noto Sans";
    background-color: var(--default-background);
    color: var(--default-text);
}

.header {
    font-weight: 900;
    padding-bottom: 2px;
    border-bottom: 1px solid alpha(var(--default-text), 0.2);
}

.title {
    color: var(--default-text);
    font-weight: 900;
    font-size: 16pt;
}

.attempt-count {
    color: var(--attempt-text);
    font-size: 12pt;
    font-weight: 700;
    padding-top: 6px;
}

.time {
    color: var(--time-text);
}

.time.behind,
.time.best-segment,
.time.best-split,
.time.losing {
    color: var(--default-color);
}

.detailed-timer {
    font-weight: 900;
}

.timer {
    font-size: 24pt;
    font-family: "Noto Sans Mono CJK JP";
    font-weight: 900;
    color: var(--ahead-bg);
    background-color: alpha(currentcolor, 0.3);
    padding: 0px 10px 4px 30px;
    margin-bottom: 10px;
    margin-top: 9px;
    border-radius: 100px;
    transition: 0.7s background-color ease;
}

.timer .timer-millis {
    font-size: 17pt;
    background-color: transparent;
    padding-bottom: 3px;
    color: alpha(var(--ahead-bg), 0.7);
}

.timer.behind .timer-millis {
    color: alpha(var(--behind-bg), 0.7);
}

.timer.losing .timer-millis {
    color: alpha(var(--losing-bg), 0.7);
}

.timer.delay .timer-millis {
    color: alpha(var(--done-bg), 0.7);
}

.timer.behind,
.timer.behind:backdrop {
    background-color: alpha(currentcolor, 0.3);
    color: var(--behind-bg);
    transition: 0.7s background-color ease;
    margin-bottom: 10px;
}

.timer.losing,
.timer.losing:backdrop {
    background-color: alpha(currentcolor, 0.3);
    color: var(--losing-bg);
    transition: 0.7s background-color ease;
    margin-bottom: 10px;
}

.timer.delay,
.timer.delay:backdrop,
.timer.done,
.timer.done:backdrop {
    background-color: alpha(currentcolor, 0.3);
    color: var(--done-bg);
    transition: 0.7s background-color ease;
    margin-bottom: 10px;
}

.split {
    padding: 0px 10px 0px 10px;
    margin: 2px 0px 2px 0px;
    border-radius: 50px;
    min-height: 25px;
    background-color: transparent;
}

.split-title {
    font-weight: 700;
}

.split-icon {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 3px;
    border-radius: 100%;
}

.split-time {
    color: var(--time-text);
    font-weight: 500;
}

.split-last {
    font-weight: 900;
    background-color: alpha(var(--last-split-bg), 0.08);
    border-radius: 50px;
    margin-bottom: 2px;
    margin-top: 0px;
}

.current-split {
    background-color: alpha(currentcolor, 0.3);
    color: var(--done-bg);
    font-weight: 700;
    transition: 0.3s background-color ease;
}

.current-split .split-time {
    color: alpha(var(--done-bg), 0.8);
}

.split-delta {
    color: var(--ahead-bg);
    font-weight: 900;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.current-split .delta,
.current-split .split-delta,
.delta {
    color: var(--ahead-bg);
    background-color: alpha(currentcolor, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.behind,
.current-split .delta.behind {
    color: var(--behind-bg);
    background-color: alpha(currentcolor, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.losing,
.current-split .delta.losing {
    color: var(--losing-bg);
    background-color: alpha(currentcolor, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.best-segment,
.current-split .delta.best-segment {
    color: var(--sob-bg);
    background-color: alpha(currentcolor, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

/* Selects Prev Segment, SOB, PB */
.footer {
    font-weight: 700;
}

.prev-segment {
    color: var(--ahead-bg);
    background-color: transparent;
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
}

.prev-segment.behind {
    color: var(--behind-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
}

.prev-segment.losing {
    color: var(--losing-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
}

.prev-segment.best-segment {
    color: var(--sob-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
}

.prev-segment-container {
    background-color: var(--alt-background);
    padding: 10px 10px 5px 10px;
    border-radius: 20px 20px 0px 0px;
}

.sum-of-bests-container {
    background-color: var(--alt-background);
    padding: 5px 10px 5px 10px;
    border-radius: 0px;
}

.personal-best-container {
    background-color: var(--alt-background);
    padding: 5px 10px 10px 10px;
    border-radius: 0px 0px 20px 20px;
}

.sum-of-bests {
    color: var(--sob-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
}

.personal-best {
    color: var(--ahead-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
}
