/*****************************************
 *  "Catppuccin Mocha Urn" by AsahiNyan  *
 ****************************************/

:root {
    --default-background: #181825;
    --alt-background: #1e1e2e;
    --last-split-bg: #ced9ff;
    --default-text: #cdd6f4;
    --separator: #31314b;
    --attempt-text: #595f7e;
    --cs-border: #cdd6f4;
    --time-text: #bac3de;
    --behind-bg: #eba0ac;
    --sob-bg: #f9e2af;
    --sob-fg: #f9e2af;
    --ahead-bg: #a6e3a1;
    --done-bg: #89b4fa;
    --wr-fg: #b4befe;
    --losing-t: #f38ba8;
    --losing-bg: #f38ba8;
    --ahead-fg: #a6e3a1;
    --behind-fg: #eba0ac;
    --losing-fg: #f38ba8;
}

.window,
.window.main-window {
    font-family: "Noto Sans";
    background-color: var(--default-background);
    color: var(--default-text);
}

.header {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--separator);
    margin-bottom: 7px;
}

.title {
    font-weight: 900;
    font-size: 16pt;
}

.time {
    color: var(--time-text);
}

.time.behind,
.time.best-segment,
.time.best-split,
.time.losing {
    color: var(--default-color);
}

.attempt-count {
    color: var(--attempt-text);
    font-size: 12pt;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-right: 2px;
}

.timer {
    font-size: 24pt;
    font-family: "Noto Sans Mono";
    font-weight: 900;
    color: var(--default-background);
    background-color: var(--ahead-bg);
    padding: 0px 10px 4px 30px;
    margin-bottom: 10px;
    margin-top: 9px;
    border-radius: 15px;
    transition: 0.7s background-color ease;
    border: 1px solid alpha(currentcolor, 0.135);
}

.timer .timer-millis {
    font-size: 17pt;
    background-color: transparent;
    padding-bottom: 3px;
    color: alpha(var(--default-background), 0.7);
}

.timer.behind,
.timer.behind:backdrop {
    background-color: var(--behind-bg);
    color: var(--default-background);
    transition: 0.7s background-color ease;
    margin-bottom: 10px;
}

.timer.losing,
.timer.losing:backdrop {
    background-color: var(--losing-bg);
    color: var(--default-background);
    transition: 0.7s background-color ease;
    margin-bottom: 10px;
    border-radius: 15px;
}

.timer.delay,
.timer.delay:backdrop,
.timer.done,
.timer.done:backdrop {
    background-color: var(--done-bg);
    color: var(--default-background);
    transition: 0.7s background-color ease;
    margin-bottom: 10px;
}

.split {
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    min-height: 25px;
    background-color: transparent;
    transition: 0.5s all ease;
}

.split-title {
    font-weight: 600;
}

.split-icon {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 3px;
    border-radius: 100%;
}

.split-time {
    color: var(--time-text);
    font-weight: 500;
}

.split-last {
    font-weight: 900;
    background-color: alpha(var(--last-split-bg), 0.075);
    color: alpha(var(--last-split-bg), 1);
    border: 1px solid alpha(var(--last-split-bg), 0.1);
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.split-last .split-time {
    color: alpha(var(--last-split-bg), 0.8);
}

.current-split {
    margin-left: 25px;
    background-color: var(--done-bg);
    color: var(--default-background);
    font-weight: 900;
    transition:
        all 75ms cubic-bezier(0, 0, 0.2, 1),
        background-size 0ms,
        background-image 0ms,
        border 0ms;
    box-shadow: 0 0 0 3px alpha(currentcolor, 0.3);
    background-size: 100%;
    border-radius: 10px;
}

.current-split .split-time {
    color: alpha(var(--default-background), 0.8);
    font-weight: 800;
}

.split-delta {
    color: var(--default-background);
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.current-split .delta,
.current-split .split-delta,
.delta {
    color: var(--default-background);
    background-color: var(--ahead-bg);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.behind,
.current-split .delta.behind {
    color: var(--default-background);
    background-color: var(--behind-bg);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.losing,
.current-split .delta.losing {
    color: var(--default-background);
    background-color: var(--losing-bg);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.best-segment,
.current-split .delta.best-segment {
    color: var(--default-background);
    background-color: var(--sob-bg);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 50px;
    transition: ease 0.3s background-color;
    min-width: 60px;
}

.detailed-timer {
    font-weight: 900;
}

.prev-segment-container {
    font-weight: 900;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 10px 5px 10px;
    background-color: var(--alt-background);
}

.sum-of-bests-container {
    font-weight: 900;
    border-radius: 0px;
    padding: 5px 10px 5px 10px;
    background-color: var(--alt-background);
}

.personal-best-container {
    font-weight: 900;
    border-radius: 0;
    padding: 5px 10px 10px 10px;
    background-color: var(--alt-background);
}

.world-record-container {
    font-weight: 900;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0px 10px 10px 10px;
    background-color: var(--alt-background);
}

.prev-segment {
    color: var(--ahead-bg);
    background-color: transparent;
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
}

.prev-segment.behind {
    color: var(--behind-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
    background-color: transparent;
}

.prev-segment.losing {
    color: var(--losing-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
    background-color: transparent;
}

.prev-segment.best-segment {
    color: var(--sob-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
    background-color: transparent;
}

.sum-of-bests {
    color: var(--sob-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
    background-color: transparent;
}

.personal-best {
    color: var(--ahead-fg);
    font-weight: 900;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    transition: ease 0.3s background-color;
    min-width: 0px;
    background-color: transparent;
}
