:root {
    --fg: #000000;
    --window-bg: #ffffff;
    --header-fg: #ffffff;
    --header-bg: linear-gradient(#222, #111);
    --attempt-color: #ff7700;
    --blink-split-color: #2196f3;
    --blink-split-light-color: #90caf9;
    --timer-color: #4caf50;
    --split-fg: #000000;
    --split-bg: #1565c0;
    --split-last-color: #555555;
    --split-last-time-color: #777777;
    --split-last-border-color: #000000;
    --split-last-shadow-color: rgba(255, 255, 255, 0.8);
    --current-split-fg: #ffffff;
    --current-split-bg: linear-gradient(#06b, #038);
}

.splits,
.split-last {
    font-size: 10pt;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.split,
.split-last {
    color: #555;
}

.split {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.current-split {
    color: var(--current-split-fg);
    background: var(--current-split-bg);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.65);
    border: 0;
    transition: 0.1s;
}

.split-last {
    color: var(--split-last-color);
    border-top: 1px solid var(--split-last-border-color);
    box-shadow: 0px -8px 8px var(--split-last-shadow-color);
}
