:root {
    --fg: #000000;
    --window-bg: #ffffff;
    --header-fg: var(--window-bg);
    --header-bg: #0d47a1;
    --attempt-color: var(--window-bg);
    --blink-split-color: #2196f3;
    --blink-split-light-color: #90caf9;
    --timer-color: #4caf50;
    --split-fg: var(--fg);
    --split-bg: #1565c0;
    --current-split-fg: #ffffff;
    --current-split-bg: var(--split-bg);
}

.split,
.split-last {
    color: #000;
    font-weight: 300;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.split-last {
    border: 0;
}

.split {
    color: #000;
}

.current-split {
    color: var(--current-split-fg);
    background: var(--current-split-bg);
    border: 0;
    transition: 0.1s;
}

.split-last {
    color: #99a;
    border-top: 1px solid #888;
    box-shadow: 0px -8px 16px rgba(255, 255, 255, 1);
}

.split-last .split-time {
    color: #777;
}

.current-split .split-time {
    color: #fff;
    background: transparent;
}

.timer {
    background: #000;
}

.footer {
    color: #fff;
    background-color: #000;
}

.footer .time {
    color: #fff;
}
