.timer.losing {
    background-color: #6a6;
}

.timer.behind {
    background-color: #a66;
}

.timer.behind.losing {
    background-color: #c00;
}

.timer.delay {
    background-color: #999;
}

.timer.best-split {
    background-color: #99f;
}

.timer {
    font-family: "7 Segmental Digital Display";
    text-shadow: none;
    background-color: #0c0;
}

.timer-seconds,
.timer-millis {
    background-color: #000;
}
