.window {
    background: #222;
    padding: 0;
    margin: 0;
    font-family:
        Roboto,
        Droid Sans,
        Open Sans,
        Ubuntu,
        Cantarell,
        Arial,
        FreeSans,
        Liberation Sans;
}
.header {
    background: #222;
    box-shadow: none;
    font-weight: 900;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.title {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    font-size: 11pt;
}
.attempt-count {
    color: #2196f3;
    font-size: 9pt;
    padding: 8px;
    padding-top: 7px;
}
.time {
    color: #fff;
    font-weight: 900;
}
.delta {
    color: #fff;
}
.timer-seconds {
    font-size: 32pt;
}
.timer-millis {
    padding-bottom: 6px;
    font-weight: 100;
    padding-right: 8px;
}
.delay {
    opacity: 0.33;
    transition: 0.25s;
}
.splits,
.split-last {
    font-weight: 300;
    font-size: 10pt;
    border: 0;
}
.split {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.current-split {
    background-color: #37474f;
}
.split > .delta,
.split-last > .delta {
    color: #4caf50;
}
.split > .behind,
.split-last > .behind {
    color: #f44336;
}
.split > .best-segment,
.split-last > .best-segment {
    color: #ffc107;
    animation: bestseg-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.split-title {
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 4px;
}
.split-time {
    padding-right: 8px;
}
.split-last {
    border: 0;
    opacity: 0.5;
}

.footer {
    font-size: 8pt;
}
.prev-segment-label,
.prev-segment {
    padding-top: 8px;
}
.prev-segment-label,
.sum-of-bests-label,
.personal-best-label,
.world-record-label {
    padding-left: 8px;
}
.prev-segment,
.sum-of-bests,
.personal-best,
.world-record {
    padding-right: 8px;
}
.personal-best,
.personal-best-label,
.world-record,
.world-record-label {
    padding-bottom: 8px;
}
.footer > .delta {
    color: #4caf50;
}
.footer > .behind {
    color: #f44336;
}
.footer > .best-segment,
.footer > .best-segment {
    color: #ffc107;
}
.world-record {
    color: #2196f3;
}

@keyframes bestseg-blink {
    from {
        color: #ffc107;
    }
    to {
        color: #ffe082;
    }
}

.current-split {
    background: inherit;
    border-style: solid;
    border-color: orange;
    border-width: 2px;
    border-radius: 15px 0px 15px 0px;
}

.vertical.timer {
    background: #222;
    box-shadow: none;
}

.time.timer {
    transition: 0.25s;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.33);
    background: #222;
    box-shadow: none;
    border: 2px solid;
    border-color: #4caf50;
    border-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 15px 0px 0px 0px;
}

.timer.behind {
    border-color: #b71c1c;
}

.timer.delay {
    border-color: #9e9e9e;
}

.segment {
    background: #222;
    box-shadow: none;
    border: 2px solid;
    border-color: #4caf50;
    border-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 0px 0px 15px 0px;
}

.detailed-timer {
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid #555;
    border-radius: 0 15px;
}
